body {
    
}

#artmain{
    width:98vw;
    height:100vh;
    border:2px solid black;   
    background-color:yellow;
	position:absolute;	
}

h1{
	font-size:4vmax;
    margin-left:30vw;
}

#divone{
    width:7vw;
    height:7vh;
    border:1px solid black;
    margin-top:0vw;
    margin-left:5vw;
    position:absolute;
    background-color:white;
}


p{
    margin:auto;
	font-size:3vmax;
    margin-top:0vmax;
	position:absolute;
}

#divtwo{
    width:7vw;
    height:7vh;
    border:1px solid black;
    margin-top:0vw;
    margin-left:15vw;
    position:absolute;
    background-color:white;
}

#divthree{
    width:7vw;
    height:7vh;
    border:1px solid black;
    margin-top:0vw;
    margin-left:25vw;
    position:absolute;
    background-color:white;
}

#divfour{
    width:7vw;
    height:7vh;
    border:1px solid black;
    margin-top:0vw;
    margin-left:35vw;
    position:absolute;
    background-color:white;
}

#divfive{
    width:7vw;
    height:7vh;
    border:1px solid black;
    margin-top:0vw;
    margin-left:45vw;
    position:absolute;
    background-color:white;
}

#divsix{
    width:7vw;
    height:7vh;
    border:1px solid black;
    margin-top:0vw;
    margin-left:55vw;
    position:absolute;
    background-color:white;
}

#divseven{
    width:10vw;
    height:7vh;
    border:3px solid red;
    margin-top:0vw;
    margin-left:65vw;
    position:absolute;
    background-color:white;
}

#bone{
	margin-top:0.5vh;
    margin-left:80vw; 
    height:7vh;
	position:absolute;
	font-size:2vmax;
}

#btwo{
    margin-left:42vw;
    margin-top:20vh;
    height:7vh;
	position:absolute;
	font-size:2vmax;
}

#info{
	font-size:3vmax;
    margin-top:30vh;
	position:absolute;
}
