#main{
	width:30vw;
	height:40vw;
	border:1px solid black;
	margin-top:5vw;
	margin-left:30vw;
	background-color:#03a9f4;
	position:absolute;
}

#p1{
	font-size:5vw;
	position:absolute;
	margin-top:0vw;
	margin-left:5vw;
}

#contact-form{
	margin-top:6vw;
	margin-left:3vw;
}